<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
    <link rel="stylesheet" th:href="@{/css/admin/admin-dashboard.css}"/>
</head>
<body>

<button id="open-students-modal-btn">Студенти</button>
<button id="open-teachers-modal-btn">Викладачі</button>

<a th:href="@{/admin/groups}" class="hrefButton">Групи</a>
<a th:href="@{/admin/groups}" class="hrefButton">Предмети</a>
<a th:href="@{/admin/groups}" class="hrefButton">Створити кафедру</a>
<a style="margin-right: 90px; font-size: xx-large; background-color: transparent; color: #c49843; float: right;
  padding: 0;
    text-decoration: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 0;">⚙︎</a>
<a href="/logout" class="logout-button">Вийти</a>

<div id="get-students-by-group" class="modal">
    <div class="modal-content">
        <span class="close-students">&times;</span>
        <h2>Оберіть групу</h2>

        <form th:action="@{/admin/students}" method="get">
            <label for="group">Група:</label>
            <select id="group" name="groupId">
                <option th:each="group : ${groups}" th:value="${group.id}" th:text="${group.groupName}"></option>
            </select>
            <br><br>
            <button type="submit">Показати</button>
        </form>
    </div>
</div>

<div id="get-teachers-by-cathedra" class="modal">
    <div class="modal-content">
        <span class="close-teachers">&times;</span>
        <h2>Оберіть Кафедру</h2>

        <form th:action="@{/admin/teachers}" method="get">
            <label for="cathedra">Кафедра:</label>
            <select id="cathedra" name="cathedraId">
                <option th:each="cathedra : ${cathedras}" th:value="${cathedra.id}" th:text="${cathedra.name}"></option>
            </select>
            <br>
            <br>
            <button type="submit">Показати</button>
        </form>
    </div>
</div>

<h1>Кафедри</h1>
<table>
    <thead>
    <tr>
        <th>№</th>
        <th>Назва</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cathedra : ${cathedras}">
        <td><span th:text="${cathedras.indexOf(cathedra) + 1}"></span></td>
        <td>
            <span style="font-size: large" th:text="${cathedra.name}"></span>
        </td>
        <td> <button class="delete-button" onclick="deleteCathedra(${cathedra.id})">Видалити</button>
            <button class="edit-button" onclick="editCathedra(${cathedra.id})">Редагувати</button></td>
    </tr>
    </tbody>
</table>

<script>
    // Get the modal element
    var modal = document.getElementById("get-students-by-group");
    // Get the button that opens the modal
    var button = document.getElementById("open-students-modal-btn");
    // Get the <span> element that closes the modal
    var closeBtn = document.querySelector(".close-students");

    // Function to open the modal
    function openModal() {
        modal.style.display = "block";
    }

    // Function to close the modal
    function closeModal() {
        modal.style.display = "none";
    }

    // Event listener for the button click
    button.addEventListener("click", openModal);
    // Event listener for the close button click
    closeBtn.addEventListener("click", closeModal);

    // Teachers Modal
    var teachersModal = document.getElementById("get-teachers-by-cathedra");
    // Get the button that opens the modal
    var teachersBtn = document.getElementById("open-teachers-modal-btn");
    // Get the <span> element that closes the modal
    var teachersSpan = document.querySelector(".close-teachers");
    // Open the modal when the button is clicked
    teachersBtn.onclick = function () {
        teachersModal.style.display = "block";
    }
    // Close the modal when the <span> (x) is clicked
    teachersSpan.onclick = function () {
        teachersModal.style.display = "none";
    }
    // Close the modal when the user clicks outside of it
    window.onclick = function (event) {
        if (event.target == teachersModal) {
            teachersModal.style.display = "none";
        }
    }


    function editCathedra(cathedraId) {
        // Handle the edit action for the cathedra with the specified ID
        // You can perform an AJAX request or navigate to a new page for editing
        console.log("Edit cathedra with ID: " + cathedraId);
    }

    function deleteCathedra(cathedraId) {
        // Handle the delete action for the cathedra with the specified ID
        // You can display a confirmation dialog and perform an AJAX request to delete the cathedra
        console.log("Delete cathedra with ID: " + cathedraId);
    }

</script>
</body>
</html>