<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/teacher/teacher-subjects.css"/>
</head>
<body>
<div class="header">
    <h1><span th:text="${currentGroup.groupName}"></span></h1>
    <h2>email: <span th:text="${currentGroup.email}"></span></h2>
    <h2>Староста групи: <span
            th:text="${currentGroup.headOfGroup.user.firstName + ' ' + currentGroup.headOfGroup.user.lastName}"></span>
    </h2>

    <a href="">Сторінка заняття в Moodle</a>
    <a href="">Telegram чат</a>
    <a href="">Zoom</a>
</div>

<table>
    <thead>
    <tr>
        <th>N</th>
        <th>Студент</th>
        <th>Email</th>
        <th>Номер телефону</th>
    </tr>
    </thead>
    <tbody>
    <!-- Loop through students -->
    <tr th:each="student : ${students}">
        <td><span th:text="${students.indexOf(student) + 1}"></span></td>
        <td th:text="${student.user.firstName + ' ' + student.user.lastName}"></td>
        <td th:text="${student.user.email}"></td>
        <td th:text="${student.user.phoneNumber}"></td>
    </tr>
    </tbody>
</table>

<h2>Доступні предмети:</h2>
<ul>
    <li th:each="subject : ${subjects}">
        <a th:href="@{'/teacher/subjects/' + ${groupId} + '/' + ${subject.id} + '/table'}"><span
                th:text="${subject.subjectName}"></span></a>
    </li>
</ul>
</body>
</html>