<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/login.css"/>
</head>
<body>
<div class="parent clearfix">
    <div class="bg-illustration">

        <div class="burger-btn">
            <span></span>
            <span></span>
            <span></span>
        </div>

    </div>

    <div class="login">
        <div class="container">
            <h1 id="login-to-access">Увійдіть у свій профіль</h1>

            <div class="login-form">
                <form th:action="@{/login}" method="post">
                    <input type="text" id="username" name="username" placeholder="Логін">
                    <input type="password" id="password" name="password" placeholder="Пароль">

                    <button style="" type="submit">Увійти</button>
                </form>
            </div>

        </div>
    </div>
</div>
</body>
</html>